{% load i18n %}
<!-- START FOOTER -->
<footer>
  {% block cart %}
  {% with total_items=cart|length %}
  {% if total_items > 0 %}
  <div class="notification is-link is-light mt-5">
    <div class="container">
      {% trans "Your cart" %}: 
      <a href="{% url 'cart:cart_detail' %}">
        {% blocktrans with total=cart.get_total_price count items=total_items %}
        {{ items }} item, ${{ total }}
        {% plural %}
        {{ items }} items, ${{ total }}
        {% endblocktrans %}
      </a>
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% endblock %}
</footer>
<!-- END FOOTER -->