{% load static %}
<!-- START NAV -->
<nav class="navbar is-fixed-top navbar-bottom-box-shadow-size">
  <div class="container">
    <div class="navbar-brand">
      <a href="https://www.djangoproject.com" target="_blank" class="navbar-item has-text-primary is-size-4 has-text-weight-bold">
        Django
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active is-size-6 has-text-primary">
          Home
        </a>
        <a class="navbar-item is-size-6 has-text-primary">
          Categories
        </a>
        <a class="navbar-item is-size-6 has-text-primary">
          Products
        </a>
      </div>
      <div class="navbar-end">
        <div class=" navbar-item">
          <div class="control has-icons-left">
            <input class="input is-rounded" type="email" placeholder="Search">
            <span class="icon is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- END NAV -->