{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.css">
  <link rel="stylesheet" href="{% static 'css/page.css' %}">
</head>
<body>
  {% include "includes/layout/nav.html" %}
  <div id="main" class="container">
    <div class="notification is-link is-light">
      {% with total_items=cart|length %}
      {% if total_items > 0 %}
      Your cart: 
      <a href="{% url 'cart:cart_detail' %}">
        {{ total_items }} item{{ total_items|pluralize }},${{ cart.get_total_price }}
      </a>
      {% else %}
      Your cart is empty.
      {% endif %}
      {% endwith %}
    </div>

    {% block content %}{% endblock %}
  </div>
</body>
</html>