{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.css">
  <link rel="stylesheet" href="{% static 'css/page.css' %}">
  {% block extrastyles %}{% endblock %}
</head>
<body>
  {% include "includes/layout/nav.html" %}

  <!-- START CONTENT -->
  <div id="main" class="container p-3">
    {% block content %}{% endblock %}
  </div>
  <!-- END CONTENT -->

  {% include "includes/layout/footer.html" %}
</body>
</html>